.about-me {
  margin: 0 auto;
  padding: 100px 0;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tech {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 5px;

  &__img {
    width: 60px;
    height: auto;
    margin: 5px;

    &:hover {
      transition: all 0.2s ease-in-out;
      transform: scale(1.1);
    }
  }
}
