.collaborate {
  margin: auto;
  padding: 100px 10px;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__heading {
    text-align: center;
    padding-bottom: 20px;
  }
  &__text {
    text-align: justify;
    padding-bottom: 20px;
  }
}

.media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 100%;
}

.collaborate__list {
  padding-left: 20px;
  padding-bottom: 20px;
}
.collaborate__pic {
  width: 100px;
  max-width: 60%;
  padding-bottom: 20px;
}
.collaborate__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
