.heading {
  font-size: 40px;
  color: $dark-gray;
}
.subheading {
  font-size: 24px;
  color: $gray;
}
.text {
  font-size: 20px;
  color: $dark-gray;
}

.B {
  color: map-get($spanColors, bColor);
}
.R {
  color: map-get($map: $spanColors, $key: rColor);
}
.always-span {
  color: map-get($map: $spanColors, $key: alwaysColor);
}
