// body wrapper
@mixin desktopViewBodyWrappers($bodyClass, $mainClass) {
  .#{$mainClass} {
    min-height: 85vh;
    grid-area: #{$mainClass};
  }

  .#{$bodyClass} {
    display: grid;
    grid-template-columns: 25vw 75vw;
    grid-template-rows:  auto;
    grid-template-areas:
      "nav #{$mainClass}"
      "nav footer";
  }
}

@mixin centerAndGiveWidth($width:90%, $margin-top, $margin-bottom) {
  width: $width;
  padding: 30px 0;
  margin: $margin-top auto $margin-bottom auto;
}